<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BILLING TABLE</title>
</head>
<body>
    <form action="/admissionHome" method="POST">
        <button type="submit" class="btn btn-success">HOME</button>
    </form>
    <!-- PATIENT TABLE--->
    <div>
        <br>
        <centre><h2>PATIENT BILLING</h2></centre>
        <div>  
            <h2>PATIENT DATA</h2>      
            <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" name = "ssnId">SSNID</th>
                <th scope="col">PATIENT NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">DATE OF JOINING</th>
                <th scope="col">TYPE OF ROOM</th>
                <th scope="col">ADDRESS</th>
              </tr>
            </thead>
                {%for row in patient_data%}
                <td>{{row}}</td>
                {%endfor%}
                </tr>
            </tbody>
          </table>    
        </div>
    </div>
    <!-- PHARMACY TABLE--->
    <div>
        <h2>MEDICINE ISSUED</h2>      
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">MEDICINE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">RATE</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
            {%for row in medicine_issued%}
            <tr>
            {%for col in row%}
            <td>{{col}}</td>
            {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
      </table>    
    <!-- DIAGNOSTIC TABLE--->
    <div>
        <h2>DIAGNOSTIC CONDUCTED</h2>      
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">NAME OF THE TEST</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
            {%for row in diagnostic_conducted%}
            <tr>
            {%for col in row%}
            <td>{{col}}</td>
            {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
      </table>    
    </div>
    <h2>Total Amount Payable : {{total_charge}}</h2>
    <form action="/payBill" method="POST"><button type="submit">PAY</button class="btn btn-danger"></form>
</body>     
</html>

