<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BILLING TABLE</title>
    <style>
        body{
            background-color:#5286F3;
            font-size:14px;
            color:#fff;
        }
        </style>
</head>
<body>
    <form action="/admissionHome" method="POST">
        <button type="submit" class="btn btn-success">HOME</button>
    </form>
    <!-- PATIENT TABLE--->
    <div class="container">
        
        <table class="table">
            <h2 >BILLING TABLE</h2><br>
            <thead class="thead-dark">
              <tr>
                <th scope="col">SSNID</th>
                <th scope="col">PATIENT NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">DATE OF JOINING</th>
                <th scope="col">TYPE OF ROOM</th>
                <th scope="col">ADDRESS</th>
              </tr>
              <tr>
                    {%for i in pat_data%}
                    <td>{{i}}</td>
                    {%endfor%}           
                </tr>NO.Of Days: {{pat_data[5]}}   Charges: {{pat_data[4]}}
               
    </div>  
    <!-- PHARMACY TABLE--->
    <div>
      
    </div>
    <!-- DIAGNOSTIC TABLE--->
    <div>
      
    </div>
    <form action="/payBill" method="POST"><button type="submit">PAY</button class="btn btn-danger"> GRAND TOTAL: {{pat_data[3]}}</form>
</body>     
</html>

