<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISSUE MEDICINE - Diagnostic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!--PATIENT DATA-->
    <form action="/diagnosticHome" method="POST">
      <button type="submit" class="btn btn-success">HOME</button>
  </form>
<div>  
    <h2>PATIENT DATA</h2>      
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" name = "ssnId">SSNID</th>
        <th scope="col">PATIENT NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">DATE OF JOINING</th>
        <th scope="col">TYPE OF ROOM</th>
        <th scope="col">ADDRESS</th>
      </tr>
    </thead>
        {%for row in patient_data%}
        <td>{{row}}</td>
        {%endfor%}
        </tr>
    </tbody>
  </table>    
</div>
<!--DIANOSTIC  CONDUCTED-->
<div>
    <h2>DIAGNOSTIC CONDUCTED</h2>      
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">NAME OF THE TEST</th>
        <th scope="col">AMOUNT</th>
      </tr>
    </thead>
        {%for row in diagnostic_conducted%}
        <tr>
        {%for col in row%}
        <td>{{col}}</td>
        {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
  </table>    

</div>
</body>
</html>