<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISSUE MEDICINE - PHARMACIST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
            background-color:#5286F3;
            font-size:14px;
            color:#fff;
        }
        </style>
</head>

<body>
    <form action="/diagnosticHome" method="POST">
        <button type="submit" class="btn btn-success">HOME</button>
    </form>
<div>  
    <div style="text-align:center"> <h2>Conduct Diagnostics</h2></div><br>
    <div style="text-align:center">
       
    <form action="/getDiagnostic" method = "POST">
        Diagnostics:    <input type="text" name="srch" id="srch" list="datalist1">
        <datalist id="datalist1">
        {%for test in tests%}
        <option value={{test}}>
        {%endfor%}
        </datalist><br><br>
        <input type="number" name="ssnId" id="ssnId" value={{patient}} hidden>
        <button type="submit" class="btn btn-warning btn-lg">Issue</button>
    </form>
</div>
</div>
    
</body>
</html>