<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <style>
        body{
            background-color:#5286F3;
            font-size:14px;
            color:#fff;
        }
        </style>
</head>
<body>
    <form action="/admissionHome" method="POST">
        <button type="submit" class="btn btn-success">HOME</button>
    </form>
    <form class="form-horizontal" role="form" action="/viewPatient" method="POST">
        <h2 class="d-flex justify-content-center">VIEW PATIENT</h2><br>
        <div class="form-group">
            <label for="ssnId" class="col-sm-3 control-label">SSN ID*</label>
            
            <div class="col-sm-4">
                
                <input type="number" name="ssnId" placeholder="SSN ID" class="form-control" autofocus><br>
                <button type="submit"class="btn btn-warning btn-lg">GET</button>
                <h3>Leave blank to see all patients</h3>
            </div>
        </div>
        </form> 
                  
                  
</body>     
</html>

